{% extends "base.html" %}

{% block content %}  
    <div id="wrapper">
        {% block navbar %} 
        {% end %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                    {% block query_tabs %} 
                    {% end %}

                    {% block query_tab_contents %} 
                    {% end %}

                    {% block footer %}
                    {% end %}
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top top-navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> 
                <strong class="top-logo"> Rogas </strong> 
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li> 
                <a href="#" role="button" data-toggle="modal" data-target="#about_modal" > About </a>
            </li>
            <li> 
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> Setting <span class="caret"></span> </a>
                <ul id="setting" class="dropdown-menu">
                    <li><a href="#">Maxnum</a></li>
                    <li><a href="#">Maxnum</a></li>
                    <li><a href="#">Maxnum</a></li>
                </ul>
            </li>
            <li>
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> History <span class="caret"></span> </a>
                <ul id="history_query" class="dropdown-menu">
                    <li><a href="#">Recent Queries</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Createxxxx1</a></li>
                    <li><a href="#">Select</a></li>
                    <li><a href="#">qqqq</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="#"> Relation Core </a>
                </li>
                <li>
                    <a href="#"> Graphical View</a>
                </li>
            </ul>
        </div>
        <!-- navbar-collapse -->
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="about_modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">About</h4>
                </div>
                <div class="modal-body">
                    <p>This is Rogas Project</p>
                </div>
                <div class="modal-footer">
                    <p>Rogas</p>
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block query_tabs %}
    <div class="panel-heading">
        <ul id="query_tab" class="nav nav-tabs">
            <li id="query0" class="active">
                <a href="#query_content0" data-toggle="tab"> <strong> Query0 </strong>
                </a>
            </li>
            <li id="query_add">
                <a href="#add_tab">
                    <span class="glyphicon glyphicon-plus"></span> <strong> Add Tab </strong>
                </a>
            </li>
        </ul>
    </div>
{% end %}

{% block query_tab_contents %}
    <div id="query_tab_content" class="tab-content">
       <div class="tab-pane fade in active" id="query_content0" >
           <div class="panel-body">
                <!-- input panel -->
                <form class="form-horizontal">
                    <div class="form-group has-success">
                        <div class="input-group col-md-12">
                            <div class="input-group-addon">$</div>
                            <textarea class="form-control" rows="1" placeholder="Input query here"></textarea>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">
                                    <span class="glyphicon glyphicon-expand"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- result tab: Relations/Graphs -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <ul id="result_tab" class="nav nav-pills">
                        <li class="active">
                            <a href="#relation" data-toggle="tab">
                                <span class="glyphicon glyphicon-th"></span> <strong> Relations </strong>
                            </a>
                        </li>
                        <li>
                            <a href="#graph" data-toggle="tab">
                                <span class="glyphicon glyphicon-picture"></span> <strong> Graphs </strong>
                            </a>
                        </li>
                    </ul>
                </div>

                <div id=result_tab_content" class="tab-content">
                    <div class="tab-pane fade" id="graph"> 
                        <span>Here are graphs!</span>
                    </div>

                    <div class="tab-pane fade in active" id="relation">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr class="active">
                                        <th>ID</th>
                                        <th>AuthorID</th>
                                        <th>CoAuthorID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(5) %}
                                    <tr class="danger">
                                        <td>12</td>
                                        <td>3320</td>
                                        <td>3320</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>3320</td>
                                        <td>3320</td>
                                    </tr>
                                    <tr class="info">
                                        <td>14</td>
                                        <td>3320</td>
                                        <td>3320</td>
                                    </tr>
                                    {% end %}
                                </tbody>
                            </table>
                        </div> <!-- table-->
                    </div> <!-- relation tab-->
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block footer %}
    <footer>
        <p>&copy; 2016 Google Summer of Code</p>
    </footer>
{% end %}
