{% extends "base.html" %}

{% block content %}  
    <div id="wrapper">
        {% block navbar %} 
        {% end %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block query_tabs %} 
                        {% end %}
                    </div>

                    <div class="panel-body">
                        {% block query_input_panel %} 
                        {% end %}
                        <hr>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                {% block query_result_tabs %} 
                                {% end %}
                            </div>
                            {% block query_result_content %} 
                            {% end %}
                        </div>
                    </div>

                    {% block footer %}
                    {% end %}
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top top-navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> 
                <strong class="top-logo"> Rogas </strong> 
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li> <a href="#"> Setting </a> </li>
            <li> <a href="#"> About </a> </li>
            <li> <a href="#"> History </a> </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="index.html"> Relation Core </a>
                </li>
                <li>
                    <a href="tables.html"> Graphical View</a>
                </li>
            </ul>
        </div>
        <!-- navbar-collapse -->
    </nav>
{% end %}

{% block query_tabs %}
    <ul id="query_tab" class="nav nav-tabs">
        <li class="active">
            <a href="#query1" data-toggle="tab"> <strong> Query1 </strong>
                <span class="glyphicon glyphicon-remove-sign"></span>
            </a>
        </li>
        <li>
            <a href="#query2" data-toggle="tab"> <strong> Query2 </strong>
                <span class="glyphicon glyphicon-remove-sign"></span>
            </a>
        </li>
        <li>
            <a href="#add">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </li>
    </ul>
{% end %}

{% block query_input_panel %}
    <div id=query_tab_content" class="tab-content">
        <div class="tab-pane fade in active" id="query1">
            <form class="form-horizontal">
                <div class="form-group has-success">
                    <div class="input-group col-md-12">
                        <div class="input-group-addon">$</div>
                        <textarea class="form-control" rows="1" placeholder="Input query here"></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">
                                <span class="glyphicon glyphicon-expand"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="query2">
            <form class="form-horizontal">
                <div class="form-group has-success">
                    <div class="input-group col-md-12">
                        <div class="input-group-addon">$</div>
                        <textarea class="form-control" rows="1" placeholder="Input xxxquery here"></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">
                                <span class="glyphicon glyphicon-expand"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- query tab content-->
{% end %}

{% block query_result_tabs %}
    <ul id="result_tab" class="nav nav-pills">
        <li class="active">
            <a href="#relation" data-toggle="tab">
                <span class="glyphicon glyphicon-th"></span> <strong> Relations </strong>
            </a>
        </li>
        <li>
            <a href="#graph" data-toggle="tab">
                <span class="glyphicon glyphicon-picture"></span> <strong> Graphs </strong>
            </a>
        </li>
    </ul>
{% end %}

{% block query_result_content %}
    <div class="tab-pane fade" id="graph">
        <span>Here are graphs!</span>
    </div>

    <div class="tab-pane fade in active" id="relation">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="active">
                        <th>ID</th>
                        <th>AuthorID</th>
                        <th>CoAuthorID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="danger">
                        <td>12</td>
                        <td>3320</td>
                        <td>3320</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>3320</td>
                        <td>3320</td>
                    </tr>
                    <tr class="info">
                        <td>14</td>
                        <td>3320</td>
                        <td>3320</td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- table-->
    </div> <!-- relation tab-->
{% end %}

{% block footer %}
    <footer>
        <p>&copy; 2016 Google Summer of Code</p>
    </footer>
{% end %}
