<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Rogas</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ static_url("bootstrap-3.3.6/css/bootstrap.min.css") }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ static_url("css/rogas.css") }} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top top-navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> 
                    <strong class="top-logo"> Rogas </strong> 
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li> <a href="#"> Setting </a> </li>
                <li> <a href="#"> About </a> </li>
                <li> <a href="#"> History </a> </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Relation Core </a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i> Graphical View</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <form class="form-inline">
                        <div class="form-group has-success has-feedback">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <span class="glyphicon glyphicon-resize-vertical"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <button class="btn btn-success" type="button">
                            <span class="glyphicon glyphicon-expand"></span>
                        </button>
                    </form>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Relation Core</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr class="active">
                                            <th>ID</th>
                                            <th>AuthorID</th>
                                            <th>CoAuthorID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>330</td>
                                            <td>30</td>
                                        </tr>
                                        <tr class="success">
                                            <td>2</td>
                                            <td>339</td>
                                            <td>319</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>4</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr class="danger">
                                            <td>6</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr class="info">
                                            <td>8</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr class="success">
                                            <td>10</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr class="danger">
                                            <td>12</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                        <tr class="info">
                                            <td>14</td>
                                            <td>3320</td>
                                            <td>3320</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right">
                                <a href="#">View All Data <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <footer>
                <p>&copy; 2016 Google Summer of Code</p>
            </footer>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src={{ static_url("bootstrap-3.3.6/js/bootstrap.min.js") }}></script>

</body>

</html>
